@import "login.scss";
@import "dashboard.scss";

.standard-button-cursor {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

#appWrapper {
    height: 100%;
    width: 100%;
}

.sidenav {
    height: 100%;
}

.warning-msg {
    color: red;
}

.full-height-min, md-content {
    height: 100%;
}
