#dashTitle {
  margin-left: 5%; }

md-sidenav > .md-button {
  width: 100%;
  height: 3em; }

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 260px !important;
  width: 85vw !important;
  max-width: 260px !important; }
