#loginWrapper {
  height: 100%;
  width: 100%;
  /*background-color: blue;*/
  margin-left: auto;
  margin-right: auto; }

#loginWrapper > md-card > md-toolbar {
  color: white; }

#loginWrapper > md-card {
  background-color: white;
  min-width: 350px; }

.login-button {
  width: 100%; }

.hidden-loader {
  margin-left: auto;
  margin-right: auto;
  display: none; }

.custom-raised {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }

.login-tabs {
  -webkit-box-shadow: 4px 10px 75px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 10px 75px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 10px 75px 10px rgba(0, 0, 0, 0.35);
  width: 600px; }

.login-tabs > .md-tabs-content {
  min-height: 300px; }

#dashTitle {
  margin-left: 5%; }

md-sidenav > .md-button {
  width: 100%;
  height: 3em; }

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 260px !important;
  width: 85vw !important;
  max-width: 260px !important; }

.standard-button-cursor {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: pointer; }

#appWrapper {
  height: 100%;
  width: 100%; }

.sidenav {
  height: 100%; }

.warning-msg {
  color: red; }

.full-height-min, md-content {
  height: 100%; }
