#loginWrapper {
  height: 100%;
  width: 100%;
  /*background-color: blue;*/
  margin-left: auto;
  margin-right: auto; }

#loginWrapper > md-card > md-toolbar {
  color: white; }

#loginWrapper > md-card {
  background-color: white;
  min-width: 350px; }

.login-button {
  width: 100%; }

.hidden-loader {
  margin-left: auto;
  margin-right: auto;
  display: none; }

.custom-raised {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }

.login-tabs {
  -webkit-box-shadow: 4px 10px 75px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 10px 75px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 10px 75px 10px rgba(0, 0, 0, 0.35);
  width: 600px; }

.login-tabs > .md-tabs-content {
  min-height: 300px; }
